.square
	{
	width:450px;			
	height:200px;
	background-color: #555;
	}
	
input[type=text],input[type=password]
	{
		padding : 10px 18px;
		margin  : 10px;
	}
	
font
	{
		margin  :4px
	}
	
input[type=button]
	{
		margin		:6px;
		width		:100px;
		height  	:30px;
		color		:white;/*text color*/
		background	:#DC143C;
		border		:bold;
		border-color:#7FFF00;
		font-style	:italic;
	}

	a
	{
		color:#DC143C;/*text color*/
	}